* {
    margin: 0;
    padding: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
    width: 600px;
    margin: 0 auto;
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    background-color: #fff3e0;
    color: #3a2e2e;
}

h1 {
    margin: 0 -30px 15px;
    font-size: 48px;
}

div {
    margin: 20px -30px 0;
    padding: 0 30px;
}

h2 {
    margin: 0 -30px 15px;
    font-size: 32px;
}

li {
    margin-top: 5px;
}

img {
    height: auto;
    width: 400px;
    display: block;
    margin: 0 auto;
}

#home a {
    margin-left: -30px;
}

h1, 
h2 {
    color: #e94f37;
}

a:hover {
    color: #6b8e23;
}