* {
    margin: 0;
    padding: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
    width: 600px;
    margin: 0 auto;
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
}