* {
    margin: 0;
    padding: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
    width: 600px;
    margin: 0 auto;
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin: 0 -30px 15px;
    font-size: 48px;
}

div {
    margin: 20px -30px 0;
    padding: 0 30px;
}

h2 {
    margin: 0 -30px 15px;
    font-size: 32px;
}